<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
    <title>Electronic-Waste Management</title>
</head>

<body>
    <!-- Navbar -->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
        <div class="container">
            <a href="/about" class="navbar-brand">E-Waste Management</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href='/index' class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href='/literature_survey' class="nav-link">Literature Survey</a>
                    </li>
                    <li class="nav-item">
                        <a href="/health_impact" class="nav-link">Health Impact</a>
                    </li>
                    <li class="nav-item">
                        <a href="/inside_ewm" class="nav-link">Inside E-Wm</a>
                    </li>
                    <li class="nav-item">
                        <a href="#instructors" class="nav-link"></a>Support
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="p1 py-5">
        <div class="container">


            <div class="tt">
                <h1 class="py-5" style="text-align:center; font-weight: 800; font-family: cursive;">Literature Survey</h1>
            </div>

            <div class="row py-5">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h3 style="text-align:center;">
                                Today’s Markets for used PCS andWays to Enhance them
                            </h3>
                            <p class="lead"> <span class="" style="font-weight:bold">Author</span> : Eric Williams, Ruediger Kuehr</p>
                            <p class="lead"> <span class="" style="font-weight:bold">Year</span>: 2003</p>
                            <p class="lead"> <span class="" style="font-weight:bold">Methodology</span> : Due to requirement of better performance people keep changing there setups in very short span but everyone doesn't require that much highend setup so they can do
                                charity of there old device at educational places or can even exchange and sell or can gift it to someone who is in need of it.</p>
                            <p class="lead"> <span class="" style="font-weight:bold">Key findings</span>: This article stated and proposed an idea of reusing the old PCs inorder to increase the lifespan of the PCs as reusing also impact and help in lowering the E-waste</p>
                        </li>
                        <li class="list-group-item">
                            <h3 style="text-align:center;">
                                Electronic waste management approaches: An overview
                            </h3>
                            <p class="lead"><span class="" style="font-weight:bold">Author</span> : Peeranart Kiddee, Ravi Naidu, Ming H Wong</p>
                            <p class="lead"><span style="font-weight:bold">Year</span> : 2013</p>
                            <p class="lead"><span style="font-weight:bold">Methodology</span> : The key to success in terms of e-waste management is to develop eco-design devices, properly collect e-waste, recover and recycle material by safe methods, dispose of e-waste
                                by suitable techniques, forbid the transfer of used electronic devices to developing countries, and raise awareness of the impact of e-waste. No single tool is adequate but together they can complement each other to solve
                                this issue.</p>
                            <p class="lead"><span style="font-weight:bold">Key findings</span> : In this the author is trying to give all possible overview of toxic substances present in e-waste, their potential environmental and human health impacts together with management
                                strategies currently being used in certain countries. Several tools including Life Cycle Assessment (LCA), Material Flow Analysis (MFA), Multi Criteria Analysis (MCA) and have been developed to manage e-wastes especially
                                in developed countries and stated EPR policy as one of the good policy for the nation.</p>
                        </li>
                        <li class="list-group-item">
                            <h3 style="text-align:center;">
                                Exploring ewaste management systems in the United States
                            </h3>
                            <p class="lead"> <span class="" style="font-weight:bold">Author</span> : Ramzy Kahhat, Junbeum Kim, Ming Xu, Braden Allenby, Eric Williams, Peng Zhang</p>
                            <p class="lead"> <span class="" style="font-weight:bold">Year</span>: 2008</p>
                            <p class="lead"> <span class="" style="font-weight:bold">Methodology</span> : So the idea was to take a little amount of deposit from buyer during the purchase of gadget and when the lifespan of gadget is over and user wants to remove it he
                                can claim for the return of deposit by verifying his documentation and the user will get his deposit+reward once the gadget is collected from his end. After that the company will decide on how to recycle the E-waste or
                                resell if can be used for more time.</p>
                            <p class="lead"> <span class="" style="font-weight:bold">Key findings</span>: This article talks about the condition of U.S regarding E-waste during 2008 . In this the author have alerted the government that it's very important to take needful
                                steps to slow down the speed of Ewaste referencing to 2005 E-waste collection during 2005 which was around 1.3 metric ton and have informed that many countries such have Japan, South Korea , Taiwan ,etc have already implemented
                                rules for E-waste .</p>
                        </li>
                        <li class="list-group-item">
                            <h3 style="text-align:center;">
                                Informal electronic waste recycling: A sector review with special focus on China
                            </h3>
                            <p class="lead"> <span class="" style="font-weight:bold">Author</span> : Xinwen Chi, Martin StreicherPorte, Mark YL Wang, Markus A Reuter</p>
                            <p class="lead"> <span class="" style="font-weight:bold">Year</span>: 2010</p>
                            <p class="lead"> <span class="" style="font-weight:bold">Methodology</span> : The informal recycling method should be replaced with the formal recycling method of electronic devices to reduce improper recycling of E-waste and damages associated
                                with it which can be more than environmental damage.</p>
                            <p class="lead"> <span class="" style="font-weight:bold">Key findings</span>: The article raises the problem of informal electronic waste recycling in China and countries where the demand for second hand devices are more. Informal recycling
                                of waste can be dangerous and should be halt.</p>
                        </li>
                        <li class="list-group-item">
                            <h3 style="text-align:center;">
                                E-waste management challenges inIran: presenting some strategies for improvement of current conditions
                            </h3>
                            <p class="lead"> <span class="" style="font-weight:bold">Author</span> : Hassan Taghipour, Parviz Nowrouz, Mohamad Asghari Jafarabadi, Jalil Nazari, Ahmad Asl Hashemi, Mohammad Mosaferi, Reza Dehghanzadeh</p>
                            <p class="lead"> <span class="" style="font-weight:bold">Year</span>: 2012</p>
                            <p class="lead"> <span class="" style="font-weight:bold">Methodology</span> : In order to gain information about Ewaste in Iran they first selected only 8 electronic gadgets and waste produced by them every year and found that only those 8
                                device have produced more than 110000 ton metric waste in each year from 2008-2010. They also discussed about a most attractive policy in which the Health Ministry and the Environmental Protection Agency should strictly
                                supervise E-waste collection, storage, and recycling and/or disposal, and the Trade and Industry Ministries must have more control over the import and production of electronic goods.</p>
                            <p class="lead"> <span class="" style="font-weight:bold">Key findings</span>: This article stats the condition of Iran in 2012 and discuss about the lack of information about E-waste which is creating issue in treating it effectively and also
                                about the the passed policies which are still not implemented and so are useless.</p>
                        </li>
                        <li class="list-group-item">
                            <h3 style="text-align:center;">
                                Through innovative changes in product style below EXTENDED PRODUCER RESPONSIBILITY(ERP)
                            </h3>
                            <p class="lead"> <span class="" style="font-weight:bold">Author</span> : Jalal Uddin</p>
                            <p class="lead"> <span class="" style="font-weight:bold">Year</span>: 2012</p>
                            <p class="lead"> <span class="" style="font-weight:bold">Methodology</span> : Manufacturers & suppliers need to set goals for reducing electronic waste. Encourage them to buy back old electronic products from consumers, disposing bulk e-waste
                                only through authorized recyclers and send non tradable e-waste to authorized private developers for final disposal.</p>
                            <p class="lead"> <span class="" style="font-weight:bold">Key findings</span>: This article discuss about use of environmentally friendly substitutes for dangerous substances, these impacts can be mitigated. A legal framework must be there for
                                imposing EPR, RoHS for attaining this goal.</p>
                        </li>
                        <li class="list-group-item">
                            <h3 style="text-align:center;">
                                Electronic waste management approaches: An overview
                            </h3>
                            <p class="lead"> <span class="" style="font-weight:bold">Author</span> : Peeranart Kiddee, Ravi Naidu, Ming H Wong</p>
                            <p class="lead"> <span class="" style="font-weight:bold">Year</span>: 2013</p>
                            <p class="lead"> <span class="" style="font-weight:bold">Methodology</span> : The key to success in terms of e-waste management is to develop eco-design devices, properly collect e-waste, recover and recycle material by safe methods, dispose
                                of e-waste by suitable techniques, forbid the transfer of used electronic devices to developing countries, and raise awareness of the impact of e-waste. No single tool is adequate but together they can complement each other
                                to solve this issue.</p>
                            <p class="lead"> <span class="" style="font-weight:bold">Key findings</span>: In this the author is trying to give all possible overview of toxic substances present in e-waste, their potential environmental and human health impacts together
                                with management strategies currently being used in certain countries. Several tools including Life Cycle Assessment (LCA), Material Flow Analysis (MFA), Multi Criteria Analysis (MCA) and Extended Producer Responsibility
                                (EPR) have been developed to manage e-wastes especially in developed countries and stated EPR policy as one of the good policy for the nation.</p>
                        </li>
                        <li class="list-group-item">
                            <h3 style="text-align:center;">
                                Electronic Waste Generation and Its Management in Bole and Akaki Kaliti Sub cities of Addis Ababa Ethiopia
                            </h3>
                            <p class="lead"> <span class="" style="font-weight:bold">Author</span> : Binegde</p>
                            <p class="lead"> <span class="" style="font-weight:bold">Year</span>: 2015</p>
                            <p class="lead"> <span class="" style="font-weight:bold">Methodology</span> : Proportional selection of sample respondents from various sectors and random selection for questionnaire survey were adopted along with key informant interview and
                                direct field observations. The total sample size was 191. The study period was March 2013-February 2014. Chi square analysis showed significant difference of the total number of egoods and the obsolete e-goods in both Sub
                                cities. Total number of obsolete electronic items in the selected woredas of two of the ten Sub cities in Addis Ababa was 5654, pointing to the possibility of considerable volume of obsolete items in the remaining 8 Sub
                                cities.
                            </p>
                            <p class="lead"> <span class="" style="font-weight:bold">Key findings</span>: The study concluded that the repair shops are contributing alot by increasing the life span of electronic devices and thus reduce the number of thrown away e-goods.
                                But low quality of electronic goods, high repair cost and availability of cheaper new goods attracts the consumers towards the throw away culture. 50% of the participants were disposing e-wastes along with municipal solid
                                wastes. Repair shops were practicing burning and burial of electronic residues. The formal recycler in Ethiopia (CRTC) offering service, despite its limitations due to lack of aspects including technology, market flow for
                                eresidues, work force and store spaces.</p>
                        </li>


                    </ul>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </section>
    <section class="p2 py-5"></section>
















    <!-- Footer -->
    <footer class=" p-5 bg-dark text-white text-center position-relative">
        <div class="container ">
            <p class="lead">Copyright &copy; 2021 Frontend Bootcamp</p>

            <a href="#" class="position-absolute bottom-0 end-0 p-5">
                <i class="bi bi-arrow-up-circle h1"></i>
            </a>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade " id="enroll" tabindex="-1" aria-labelledby="enrollLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="enrollLabel">Enrollment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="lead">Fill out this form and we will get back to you</p>
                    <form>
                        <div class="mb-3">
                            <label for="first-name" class="col-form-label">
                  First Name:
                </label>
                            <input type="text" class="form-control" id="first-name" />
                        </div>
                        <div class="mb-3">
                            <label for="last-name" class="col-form-label">Last Name:</label>
                            <input type="text" class="form-control" id="last-name" />
                        </div>
                        <div class="mb-3">
                            <label for="email" class="col-form-label">Email:</label>
                            <input type="email" class="form-control" id="email" />
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="col-form-label">Phone:</label>
                            <input type="tel" class="form-control" id="phone" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>

    <script>
        mapboxgl.accessToken =
            'pk.eyJ1IjoiYnRyYXZlcnN5IiwiYSI6ImNrbmh0dXF1NzBtbnMyb3MzcTBpaG10eXcifQ.h5ZyYCglnMdOLAGGiL1Auw'
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-71.060982, 42.35725],
            zoom: 18,
        })
    </script>
</body>

</html>